@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
@import '../App.module.scss';

.header {
  display: flex;
  position: relative;
  background-image: linear-gradient(45deg, white, #90c1d7 60%, #5750c9, #020056);
  font-family: 'Qwitcher Grypen', cursive;
  width: 100%;

  div:first-of-type {
    margin-left: 4rem;
  }

  h1 {
    font-size: 3.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  .hamburger {
    display: none;
  }

  @media (max-width: $small-breakpoint) {
      height: 7.5rem;

    div:first-of-type {
      margin-left: 1rem;
    }

    h1 {
      font-size: 2.5rem;
      margin-top: 1rem;
      margin-left: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      margin-block-start: 0;
      letter-spacing: 1px;
    }

    ul {
      display: block;
      width: 100%;
      margin-block-start: 0;
      padding-inline-start: 0;
    }

    .hamburger {
      position: absolute;
      right: 1.5rem;
      top: 2rem;
      width: 1.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      height: 1.5rem;
      border-radius: 3px;
      color: white;
    }
  }

}