@import '../../App.module.scss';

.btn {
  height: 2rem;
  width: 4rem;
  border-radius: 3px;
  // border: 1px solid #0c0964;
  box-shadow: $button-box-shadow;
  border: none;

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  
  &.submit {
    background-color: #7993d1;
    color: white;
  }

  @media (max-width: $small-breakpoint) {
    &:active {
      transform: scale(.9);
      box-shadow: none;
    }
  }
}